<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graphic [chartType]="graficos.grafico1.type"
                           [data]="graficos.grafico1.data"
                           [labels]="graficos.grafico1.labels"
                           [legend]="graficos.grafico1.leyenda"></app-donut-graphic>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graphic [chartType]="graficos.grafico2.type"
                           [data]="graficos.grafico2.data"
                           [labels]="graficos.grafico2.labels"
                           [legend]="graficos.grafico2.leyenda"></app-donut-graphic>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graphic [chartType]="graficos.grafico3.type"
                           [data]="graficos.grafico3.data"
                           [labels]="graficos.grafico3.labels"
                           [legend]="graficos.grafico3.leyenda"></app-donut-graphic>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graphic [chartType]="graficos.grafico4.type"
                           [data]="graficos.grafico4.data"
                           [labels]="graficos.grafico4.labels"
                           [legend]="graficos.grafico4.leyenda"></app-donut-graphic>
      </div>
    </div>
  </div>
</div>
